{% extends "layout.html" %}
{% set active_page = "contact" %}

{% block title %}

    Nik Otmakhov - Contact

{% endblock %}

{% block body %}

    <div class="main">
        <p>I dont pay attention to social media chats, so <br>
        please contact me through one of the following </p>
        <b>Mobile:</b> <a href="https://wa.me/96170286275" class="contact-link" target="_blank">+961 70 286 275</a>
        <img class="contact-logo" src="https://cdn4.iconfinder.com/data/icons/miu-social/60/whatsapp-social-media-512.png"><br>
        <b>eMail:</b> <a href="mailto:NikolayOtmakhov@outlook.com" class="contact-link" target="_blank">NikolayOtmakhov@outlook.com</a>
        <img class="contact-logo" src="https://cdn4.iconfinder.com/data/icons/miu-social/60/mail-social-media-512.png"><br>

    </div>

{% endblock %}